*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.editorconfig
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/.ash_history
/.migrated
/.php-cs-fixer.cache
/.seeded
/.composer/cache/files/clue/ndjson-react/b4451be4eaf06efb12f25f529c6bb28f76aa3ddb.zip
/.composer/cache/files/composer/pcre/873727598c75b77a94d93c991da81eff2605482b.zip
/.composer/cache/files/composer/semver/1a7be4ac2dcb302b3112daf053274ee5fea2a85a.zip
/.composer/cache/files/composer/xdebug-handler/3aadf928f0aaa818653fa90b7b7b107b5827c5ae.zip
/.composer/cache/files/evenement/evenement/dcd003bdc31ddc647300bbb4aa5599b63e7ca590.zip
/.composer/cache/files/fidry/cpu-core-counter/6c1b2f870b6195cfd75df0a853cb05025c567f72.zip
/.composer/cache/files/friendsofphp/php-cs-fixer/5f1a4df433ea60b13b6aad44fd2cf2a45f845f72.zip
/.composer/cache/files/react/cache/d7deef045492b1d987bacc9cb446cfc4e9fea51b.zip
/.composer/cache/files/react/child-process/2b0893be61a85c6dea661a55d1f0b94efb6d5b9a.zip
/.composer/cache/files/react/dns/17b8804d2f252e275c03c9a9dfd4832546d38976.zip
/.composer/cache/files/react/event-loop/336ed042f3e56903e78da132edc332819197a2b2.zip
/.composer/cache/files/react/promise/fa8a64c664c3f4191b6f993c68f1a113b5448b32.zip
/.composer/cache/files/react/socket/75e64b0dad4dd0f906eea6d6576658a4442d4832.zip
/.composer/cache/files/react/stream/b789dc554762d2a5e3921e139d0bea15525a2e91.zip
/.composer/cache/files/symfony/filesystem/37c76ef85c67cd6d855ee99ab13027912226e700.zip
/.composer/cache/files/symfony/options-resolver/0b7ff31e92d93acda8bb1ad7774c7c8e44cf1f2d.zip
/.composer/cache/files/symfony/polyfill-php81/67b61c9325b4f36e28d2209fb7e3c68d74fbce97.zip
/.composer/cache/files/symfony/stopwatch/95cf1ee82e3924ef5158452822580b0af907b359.zip
/.composer/cache/repo/https---repo.packagist.org/packages.json
/.composer/cache/repo/https---repo.packagist.org/provider-brick~math.json
/.composer/cache/repo/https---repo.packagist.org/provider-carbonphp~carbon-doctrine-types.json
/.composer/cache/repo/https---repo.packagist.org/provider-clue~ndjson-react.json
/.composer/cache/repo/https---repo.packagist.org/provider-composer~pcre.json
/.composer/cache/repo/https---repo.packagist.org/provider-composer~semver.json
/.composer/cache/repo/https---repo.packagist.org/provider-composer~xdebug-handler.json
/.composer/cache/repo/https---repo.packagist.org/provider-dflydev~dot-access-data.json
/.composer/cache/repo/https---repo.packagist.org/provider-doctrine~annotations.json
/.composer/cache/repo/https---repo.packagist.org/provider-doctrine~inflector.json
/.composer/cache/repo/https---repo.packagist.org/provider-doctrine~lexer.json
/.composer/cache/repo/https---repo.packagist.org/provider-dragonmantank~cron-expression.json
/.composer/cache/repo/https---repo.packagist.org/provider-egulias~email-validator.json
/.composer/cache/repo/https---repo.packagist.org/provider-evenement~evenement.json
/.composer/cache/repo/https---repo.packagist.org/provider-fakerphp~faker.json
/.composer/cache/repo/https---repo.packagist.org/provider-fidry~cpu-core-counter.json
/.composer/cache/repo/https---repo.packagist.org/provider-filp~whoops.json
/.composer/cache/repo/https---repo.packagist.org/provider-friendsofphp~php-cs-fixer.json
/.composer/cache/repo/https---repo.packagist.org/provider-friendsofphp~php-cs-fixer~dev.json
/.composer/cache/repo/https---repo.packagist.org/provider-fruitcake~php-cors.json
/.composer/cache/repo/https---repo.packagist.org/provider-gecko-packages~gecko-php-unit.json
/.composer/cache/repo/https---repo.packagist.org/provider-graham-campbell~result-type.json
/.composer/cache/repo/https---repo.packagist.org/provider-guzzlehttp~guzzle.json
/.composer/cache/repo/https---repo.packagist.org/provider-guzzlehttp~promises.json
/.composer/cache/repo/https---repo.packagist.org/provider-guzzlehttp~psr7.json
/.composer/cache/repo/https---repo.packagist.org/provider-guzzlehttp~uri-template.json
/.composer/cache/repo/https---repo.packagist.org/provider-hamcrest~hamcrest-php.json
/.composer/cache/repo/https---repo.packagist.org/provider-ircmaxell~password-compat.json
/.composer/cache/repo/https---repo.packagist.org/provider-laravel~framework.json
/.composer/cache/repo/https---repo.packagist.org/provider-laravel~pail.json
/.composer/cache/repo/https---repo.packagist.org/provider-laravel~pint.json
/.composer/cache/repo/https---repo.packagist.org/provider-laravel~prompts.json
/.composer/cache/repo/https---repo.packagist.org/provider-laravel~sail.json
/.composer/cache/repo/https---repo.packagist.org/provider-laravel~serializable-closure.json
/.composer/cache/repo/https---repo.packagist.org/provider-laravel~tinker.json
/.composer/cache/repo/https---repo.packagist.org/provider-league~commonmark.json
/.composer/cache/repo/https---repo.packagist.org/provider-league~config.json
/.composer/cache/repo/https---repo.packagist.org/provider-league~flysystem.json
/.composer/cache/repo/https---repo.packagist.org/provider-league~flysystem-local.json
/.composer/cache/repo/https---repo.packagist.org/provider-league~mime-type-detection.json
/.composer/cache/repo/https---repo.packagist.org/provider-league~uri.json
/.composer/cache/repo/https---repo.packagist.org/provider-league~uri-interfaces.json
/.composer/cache/repo/https---repo.packagist.org/provider-mockery~mockery.json
/.composer/cache/repo/https---repo.packagist.org/provider-monolog~monolog.json
/.composer/cache/repo/https---repo.packagist.org/provider-myclabs~deep-copy.json
/.composer/cache/repo/https---repo.packagist.org/provider-nesbot~carbon.json
/.composer/cache/repo/https---repo.packagist.org/provider-nette~schema.json
/.composer/cache/repo/https---repo.packagist.org/provider-nette~utils.json
/.composer/cache/repo/https---repo.packagist.org/provider-nikic~php-parser.json
/.composer/cache/repo/https---repo.packagist.org/provider-nunomaduro~collision.json
/.composer/cache/repo/https---repo.packagist.org/provider-nunomaduro~termwind.json
/.composer/cache/repo/https---repo.packagist.org/provider-paragonie~random_compat.json
/.composer/cache/repo/https---repo.packagist.org/provider-phar-io~manifest.json
/.composer/cache/repo/https---repo.packagist.org/provider-phar-io~version.json
/.composer/cache/repo/https---repo.packagist.org/provider-php-cs-fixer~diff.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpoption~phpoption.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-code-coverage.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-file-iterator.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-invoker.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-text-template.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~php-timer.json
/.composer/cache/repo/https---repo.packagist.org/provider-phpunit~phpunit.json
/.composer/cache/repo/https---repo.packagist.org/provider-psr~cache.json
/.composer/cache/repo/https---repo.packagist.org/provider-psr~clock.json
/.composer/cache/repo/https---repo.packagist.org/provider-psr~container.json
/.composer/cache/repo/https---repo.packagist.org/provider-psr~event-dispatcher.json
/.composer/cache/repo/https---repo.packagist.org/provider-psr~http-client.json
/.composer/cache/repo/https---repo.packagist.org/provider-psr~http-factory.json
/.composer/cache/repo/https---repo.packagist.org/provider-psr~http-message.json
/.composer/cache/repo/https---repo.packagist.org/provider-psr~log.json
/.composer/cache/repo/https---repo.packagist.org/provider-psr~simple-cache.json
/.composer/cache/repo/https---repo.packagist.org/provider-psy~psysh.json
/.composer/cache/repo/https---repo.packagist.org/provider-ralouphie~getallheaders.json
/.composer/cache/repo/https---repo.packagist.org/provider-ramsey~collection.json
/.composer/cache/repo/https---repo.packagist.org/provider-ramsey~uuid.json
/.composer/cache/repo/https---repo.packagist.org/provider-react~cache.json
/.composer/cache/repo/https---repo.packagist.org/provider-react~child-process.json
/.composer/cache/repo/https---repo.packagist.org/provider-react~dns.json
/.composer/cache/repo/https---repo.packagist.org/provider-react~event-loop.json
/.composer/cache/repo/https---repo.packagist.org/provider-react~promise.json
/.composer/cache/repo/https---repo.packagist.org/provider-react~promise-timer.json
/.composer/cache/repo/https---repo.packagist.org/provider-react~socket.json
/.composer/cache/repo/https---repo.packagist.org/provider-react~stream.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~cli-parser.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~code-unit.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~code-unit-reverse-lookup.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~comparator.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~complexity.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~diff.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~environment.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~exporter.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~global-state.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~lines-of-code.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~object-enumerator.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~object-reflector.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~recursion-context.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~type.json
/.composer/cache/repo/https---repo.packagist.org/provider-sebastian~version.json
/.composer/cache/repo/https---repo.packagist.org/provider-staabm~side-effects-detector.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~clock.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~console.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~contracts.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~css-selector.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~deprecation-contracts.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~error-handler.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~event-dispatcher.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~event-dispatcher-contracts.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~filesystem.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~finder.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~http-foundation.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~http-kernel.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~mailer.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~mime.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~options-resolver.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-ctype.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-intl-grapheme.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-intl-idn.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-intl-normalizer.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-mbstring.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php54.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php55.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php70.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php72.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php73.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php80.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php81.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php83.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php84.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-php85.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-uuid.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~polyfill-xml.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~process.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~routing.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~service-contracts.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~stopwatch.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~string.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~translation.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~translation-contracts.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~uid.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~var-dumper.json
/.composer/cache/repo/https---repo.packagist.org/provider-symfony~yaml.json
/.composer/cache/repo/https---repo.packagist.org/provider-theseer~tokenizer.json
/.composer/cache/repo/https---repo.packagist.org/provider-tijsverkoyen~css-to-inline-styles.json
/.composer/cache/repo/https---repo.packagist.org/provider-vlucas~phpdotenv.json
/.composer/cache/repo/https---repo.packagist.org/provider-voku~portable-ascii.json
/.composer/cache/repo/https---repo.packagist.org/provider-webmozart~assert.json
/.composer/cache/.htaccess
/.composer/.htaccess
/.config/*
